<!DOCTYPE html>
<html>
<div align="center" style="z-index:9;visibility:visible;"><a href="http://www.totallyfreecursors.com/" target="_blank" class="tfc"></a></div><style>HTML,BODY{cursor: url("http://downloads.totallyfreecursors.com/cursor_files/dogani.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/dogani.gif"), auto;}</style>

  <head>
    <title>AdoptPup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
    <header>
      <%= image_tag ("/header8.png")%>
    </header>
    <nav class="navbar navbar-expand-lg" style="background-color: #c1ffb6">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color: #282828">Home<span class="sr-only">(current)</span></a>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to "View Profile", user_path(current_user), method: :get, class: "nav-link", style: "color: #282828" %>
            <% else %>
              <a class="nav-link" href="/users/new" style="color: #282828">Create Account</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if logged_in? %>
              <%= link_to "Dogs", dogs_path, method: :get, class: "nav-link", style: "color: #282828" %>
            <% else %>
              <a class="nav-link" href="/sessions/new" style="color: #282828">Log In</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if logged_in? %>
              <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link", style: "color: #282828" %>
            <% else %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>
    </div>
    <div id="footer">
      <p>&copy; Copyright 2019</p>
    </div>

  </body>
</html>
